*{
    margin: 0%;
    padding: 0;
}
/* ::placeholder{
  color: #aa0808;
} */
.background-video-container {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}
.input_chnage{
width: 50%;
}
.main-content{
  top: 50%;
}
.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.content {
  position: relative;
  text-align: center;
  color: white;
  padding: 20px;
  z-index: 1;
}
.overlay-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: rgba(0, 0, 0, 0.5);
 z-index: -1;
}
.Faciclity__offers ul li svg {
  color: #ffff;
  fill: #fff;
  font-size: 0.8rem;
}
.Faciclity__offers {
  background-color: #ffffff0f;
}

.bg-3{
    
    color: #fff;
}
#vertical-line{
    width: 100%;
    background-color: azure;
    height: 0.5px;
}
.heading{
    font-size: 50px;
font-weight: 400;
    color:#fff;
    font-family: 'Poppins', sans-serif;
}
.ani-div{
    height: 105px;
  overflow: hidden;

}
.animation{
    position: relative;
    font-size: 88px;
    font-family: 'Poppins', sans-serif;
   animation-timing-function:  cubic-bezier(0.22, 1, 0.36, 1) 3s infinite forwards;;
    animation-name: example;
    animation-duration: 8s ;
    animation-iteration-count: infinite;
    font-weight: 600;
  
}
@keyframes example {
    0%   { left:0px; top:0px;}
    25%  {left:0px; top:-150px;}
    50%  { left:0px; top:-300px;}
    75%  {left:0px; top:-450px;}
    /* 100% { left:0px; top:-550px;} */
  }
  .btn-group{
    margin-top: 32px;
  }
  .btn-group button{
    color: #ffffff;
    border-right: 2px solid rgb(253, 253, 253);
  }
  .button1{
        background-color: #ffcd39;
        padding: 10px 40px;
        border: none;
        border-radius:8px 0px 0px 8px;
      }
      .button2{
        background-color:#424446;
        padding: 10px 40px;
        border: none;
        border-radius:0px 8px 8px 0px;
     border-right:none;
      }
      .btn-group .button2:hover {
        background-color:#ffcd39;
      }
     
      .button{
        background-color:#424446;
        padding: 10px 40px;
        border: none;
      }
      .btn-group .button:hover {
        background-color: #ffcd39;
      }

    .button4{
      background-color:rgb(235, 141, 47);
      padding: 15px 40px;
      border: none;
      border-radius:8px 8px 8px 8px;
   border-right:none;
   color: #fff;
    }

 .line-footer::before{
content: "";
width: 42%;
height: .1em;
background-color: #fff;
position: absolute;
top: 17px;
left: 0;

 }
 .line-footer::after{
  content: "";
  width: 42%;
  height: .1em;
  background-color: #fff;
  position: absolute;
  top: 17px;
  right: 0;
  
   }

   .effect img{
    filter: grayscale(1);
    transition: grayscale 0.5s;
   }
   .effect img:hover{
    filter: grayscale(0);
   }
   .col ul li a{
    text-decoration: none;
    color: #424446;
   }

   .col ul li a:hover{
    color: #e00d0d;
   }
   .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
    padding: 10px;
  }
  /* section-1 */
  .img-hover-scale {
    transition: transform .5s ease;
  }
  
  .img-hover-scale:hover {
    transform: scale(1.1);
  }
.img_scale{
  overflow: hidden;
}  
  /*  */
 .album-item-1 {
    overflow: hidden;
    border-radius: 12px;
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.album-item {
  height: 190px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.album-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 650px;
  gap: 25px;
}
.album-item::before, .album-item-1::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background-color: #00000056;
}


.position-relative {
  position: relative !important;
}
.album {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent 50%);
}
.place-info,.Thrillophilia_txt{
  z-index: 1;
}
.carousel__btn a {
  padding: 20px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.reviews{
  font-size: 13px!important;
}
.section{
  padding-top: 40px;
}
.destinations__img {
  overflow: hidden;
  border-radius: 12px;
}
.paradise__info p {
  font-size: 0.7rem;
  margin-top: 0.2rem;
}
.shadow__border {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.navbar-toggler{
  background-color: #fff!important;
}
.image_{
  height:267px ;
  width:577px ;
  object-fit: cover;
}
.heading_{
  font-size: 38px;
  font-weight: 600;
  display: none;
}
@media(max-width: 320px) and (min-width:0px) {
  .btn-group,.ani-div,.hidden,.Faciclity__offers{
    display: none!important;
  }
  .heading{
    font-size: 22px;
  }
  .ani-div {
    height: 65px;
    overflow: hidden;
}
  .image_ ,.main-sec{
    width:300px;
}

.heading_{
  display: block;
}
.input_chnage{
  width: 90%!important;
}
  }
  
@media(min-width: 321px) and (max-width:376px) {
  .btn-group,.ani-div,.hidden,.Faciclity__offers{
    display: none!important;
  }
  .image_ ,.main-sec{
    width:350px;
}
.heading{
  font-size: 32px;
}
.heading_{
  display: block;
}
.input_chnage{
  width: 90%!important;
}
}
/* media-425 */

@media(max-width:426px) and (min-width: 377px) {
 .ani-div,.hidden,.Faciclity__offers,.hide{
    display: none!important;
  }
  .heading_{
    display: block;
    font-size: 52px;
  }
  .image_ ,.main-sec{
    width:401px;
} 
.input_chnage{
  width: 90%!important;
  top: 80%;
}
.heading{
  font-size: 22px;
}
.animation{
  font-size: 42px;
}
}
@media(max-width:768px) and (min-width: 427px) {
  .Faciclity__offers,.hidden,.input_chnage{
    display: none;
  }
  .heading{
    font-size: 32px;
    margin-top: 30px;
  }
.main-content{
  top: 60%!important;
}
}
 
@media (max-width: 1025px) and (min-width: 769px){
.hidden{
  display: none;
}
.input_chnage{
  top: 85%;
  width: 80%;
}
.image_{
  width: 450px;
}
}

@media(max-width:1440px) and (min-width:1026px) {

}
